# Mac files
.DS_Store

# R files
.Rhistory
.Rapp.history
.RData

# Notes
notes*

# Grading rubrics
*rubric*

# Assignment examples
*example*

# Generated HTMLs and PDFs
*.html
*.pdf
*.doc*
!general_docs/course_info.pdf
!general_docs/schedule.pdf
!general_docs/schedule.docx

# Powerpoints
*.ppt*
